@charset "utf-8";
@import "../../assets/scss/mixin";

.svg-bg {
    background-color: var(--background-color3);
}
.class-color-path1 {
    path {
        fill: var(--color1);
    }
}

.class-color-path2 {
    path {
        fill: var(--color2);
    }
}
.class-color-path3 {
    path {
        fill: var(--color3);
    }
}
.class-color-path4 {
    path {
        fill: var(--sub-color1);
    }
}
.class-color-path5 {
    path {
        fill: var(--sub-color2);
    }
}
.class-color-path6 {
    path {
        fill: var(--sub-color3);
    }
}
.class-color-path7 {
    path {
        fill: var(--sub-color4);
    }
}
.class-color-path8 {
    path {
        fill: var(--font-color1);
    }
}

.class-color-path9 {
    path {
        fill: var(--font-color2);
    }
}

.class-color-path10 {
    path {
        fill: var(--font-color3);
    }
}

.class-color-path11 {
    path {
        fill: var(--border-color1);
    }
}
.class-color-path12 {
    path {
        fill: var(--border-color2);
    }
}
.class-color-path13 {
    path {
        fill: var(--border-color3);
    }
}
.class-color-path14 {
    path {
        fill: var(--border-color4);
    }
}

.class-color-path15 {
    path {
        fill: var(--background-color1);
    }
}
.class-color-path16 {
    path {
        fill: var(--background-color2);
    }
}
.class-color-path17 {
    path {
        fill: var(--background-color3);
    }
}
.class-color-path18 {
    path {
        fill: var(--background-color4);
    }
}
.class-color-path19 {
    path {
        fill: var(--positive);
    }
}
.class-color-path20 {
    path {
        fill: var(--negative);
    }
}
