.admin-tab {
  ul {
    display: flex;
    gap: 4px;
    li {
      a {
        display: flex;
        padding: 10px 13px 10px 16px;
        background-color: var(--background-color3);
        color: var(--font-color2);
        gap: 8px;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        .admin-tab-btn {
          text-indent: -9999px;
          width: 16px;
          height: 16px;
          border-radius: 4px;
          background-color: #b8c6db;
          position: relative;
          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 9px;
            height: 1px;
            background-color: var(--color2);
            transform-origin: center;
          }

          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
      &.active {
        a {
          background-color: var(--color2);
          color: var(--color3);
          .admin-tab-btn {
            background-color: var(--background-color4);
          }
        }
      }
    }
  }
}

//임시 백그라운드
.admin-tab {
  background-color: #b8c6db;
  padding: 20px;
}
