.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
.container {
  padding: 20px;
}
.code-block {
  background-color: #f5f5f5;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  font-weight: 600;
}
.guide-wrap h2 {
  font-size: 30px;
  margin-bottom: 0;
  background-color: #000;
  color: #fff;
  padding: 4px;
}
.guide-wrap strong {
  display: inline-block;
  padding: 0 20px;
  margin: 12px 0;
  position: relative;
}
.guide-wrap strong::after,
.guide-wrap strong::before {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
}
.guide-wrap strong::before {
  left: 0;
}
.guide-wrap strong::after {
  right: 0;
}
.checkbox label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -2.5%;
  color: #222;
}
.checkbox label.disabled {
  cursor: default;
  color: #888;
}
.checkbox label input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: -1;
  color: transparent;
  background: transparent;
  appearance: none;
}
.checkbox label input[type="checkbox"]:focus + .check-mark {
  outline: 1px solid #000;
}

.checkbox label .check-mark {
  width: 14px;
  height: 14px;
  border: 1px solid #bbb;
  border-radius: 0px 4px 4px 4px;
  margin-right: 6px;
  position: relative;
  display: inline-block;
  background: url("../../public/images/icon/ico-chk.png") 50% 50% no-repeat;
  transition: background-color 0.2s;
}

.checkbox label input[type="checkbox"]:checked + .check-mark {
  border-color: #0046ff;
  background: #0046ff url("../../public/images/icon/ico-chk-active.png") 50% 50%
    no-repeat;
}

.checkbox label .check-mark::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
}

.checkbox label input[type="checkbox"]:checked + .check-mark::after {
  display: block;
}
.checkbox label input[type="checkbox"]:disabled + .check-mark {
  border: 1px solid #dde6f3;
  background: #dde6f3 url("../../public/images/icon/ico-chk-disabled.png") 50%
    50% no-repeat;
}
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
}
