.radio-group,
.chk-group {
  gap: 4px 24px;
}
.radio-group {
  label {
    margin: 0;
    color: var(--font-color1);
  }
}

//텍스트 에어리어
.text-area {
  textarea {
    width: 100%;
    height: 148px;
    border: 1px solid var(--border-color1);
    border-radius: 6px;
    padding: 12px 12px 0 12px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.35px;
    color: var(--font-color1);
    resize: none;
    &:focus,
    &:active {
      outline: none;
      border-color: var(--color1);
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &.required {
    textarea {
      border-top-left-radius: 0;
      background: var(--color2) url("../images/icon/ico-required.png") top left
        no-repeat;
    }
  }
}

//데이트 픽커
.date-picker-area {
  width: 100%;
  display: flex;
  align-items: center;
  .react-datepicker {
    border-color: var(--color1);
    padding: 16px;
  }
  .react-datepicker__header {
    background-color: var(--color2);
    border: 0;
    padding: 0;
    .react-datepicker__current-month {
      font-size: 14px;
      font-family: var(--font-style2);
    }
  }
  .react-datepicker__day-names {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 12px 0;

    .react-datepicker__day-name {
      margin: 0;
      width: 18px;
      line-height: 18px;
      font-size: 10px;
      &:first-of-type {
        color: var(--sub-color2);
      }
    }
  }
  .react-datepicker__month {
    margin: 0;
    .react-datepicker__week {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-bottom: 8px;
      .react-datepicker__day {
        margin: 0;
        width: 18px;
        line-height: 18px;
        font-size: 10px;
        &:first-of-type {
          color: var(--sub-color2);
          &.react-datepicker__day--selected {
            background-color: var(--color1);
            color: var(--color2);
          }
          &.react-datepicker__day--keyboard-selected {
            color: var(--color2);
          }
        }
        &.react-datepicker__day--range-start {
          color: var(--color2);
          background-color: var(--color1);
        }

        &.react-datepicker__day--range-end {
          color: var(--color2);
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .react-datepicker-wrapper {
    max-width: 480px;
    width: 100%;
    margin-right: 8px;
  }
  .react-datepicker__input-container {
    border: 1px solid var(--border-color1);
    background-color: var(--color2);
    height: 36px;
    border-radius: 6px;
    max-width: 480px;
    width: 100%;

    input {
      width: 100%;
      height: 100%;
      padding: 0 36px 0 12px;
      background: url("../../assets/images/icon/ico-picker.png") 98.5% center
        no-repeat;
      &.react-datepicker-ignore-onclickoutside {
        background: none;
      }
    }
  }
  .react-datepicker__day--today {
    font-weight: 400;
  }
  .react-datepicker__triangle {
    display: none;
  }
  .react-datepicker__day--in-range {
    border-radius: 50%;
  }
  .react-datepicker__day--in-range {
    background-color: var(--background-color3);
    color: var(--color3);
  }
  .react-datepicker__day--range-end {
    background-color: var(--color1);
    color: var(--color2);
  }
  .react-datepicker__navigation {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #888;
    top: 20px;
  }
  .react-datepicker__navigation--next {
    right: 16px;
  }
  .react-datepicker__navigation--previous {
    left: 16px;
  }
  .react-datepicker__navigation-icon::before {
    top: 10px;
    border-width: 1px 1px 0 0;
    height: 4px;
    width: 4px;
    border-color: #888;
  }
  .react-datepicker__navigation-icon--previous::before {
    right: -1.1px;
  }
  .react-datepicker__navigation-icon--next::before {
    left: -1.1px;
  }
  .react-datepicker-ignore-onclickoutside {
    &:focus-visible {
      outline: 1px solid var(--color1);
      border-radius: 4px;
    }
  }
  .react-datepicker__day:not([aria-disabled="true"]):hover,
  .react-datepicker__month-text:not([aria-disabled="true"]):hover,
  .react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
  .react-datepicker__year-text:not([aria-disabled="true"]):hover,
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range {
    border-radius: 50%;
  }
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    border-radius: 50%;
  }
  .react-datepicker__day--selected,
  .react-datepicker__day--in-range:not([aria-disabled="true"]):hover,
  .react-datepicker__day--selected:not([aria-disabled="true"]):hover,
  .react-datepicker__day--keyboard-selected:not([aria-disabled="true"]):hover {
    background-color: var(--color1);
    color: var(--color2);
  }
  .date-month-btn {
    min-width: 300px;
    button {
      border-radius: 100px;
      min-width: 56px;
      padding: 7px 12px;
      border: 1px solid var(--color1);
      background-color: var(--color2);
      color: var(--font-color3);
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.35px;
      & + button {
        margin-left: 4px;
      }
      &.active {
        background-color: var(--color1);
        color: var(--color2);
      }
    }
  }
  .date-ym-radio {
    label {
      border-radius: 100px;
      min-width: 56px;
      height: 36px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0px 12px;
      border: 1px solid var(--color1);
      background-color: var(--color2);
      color: var(--font-color3);
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.35px;
      cursor: pointer;
      & + label {
        margin-left: 4px;
      }
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      border: 0;
      z-index: -1;
      color: transparent;
      background: transparent;
      appearance: none;
      &:checked {
        & + label {
          background-color: var(--color1);
          color: var(--color2);
          box-shadow: 0px 2px 4px 0px rgba(0, 70, 255, 0.25);
        }
      }
    }
    & + .date-ym-radio {
      margin-left: 4px;
    }
  }
}

//뱃지
.badge {
  display: inline-flex;
  align-items: center;
  height: 21px;
  padding: 0 8px;
  border-radius: 8px;
  font-size: 11px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: -0.275px;
  &.gray {
    color: var(--color2);
    background-color: var(--font-color2);
  }
  &.green {
    color: var(--color2);
    background-color: var(--positive);
  }
  &.red {
    color: var(--color2);
    background-color: var(--negative);
  }
  &.large {
    height: 25px;
    min-width: 64px;
    border-radius: 100px;
    justify-content: center;
  }
}
.badge-wrap {
  display: flex;
  align-items: center;
  gap: 4px 4px;
}

//해시태그
.hash-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 100px;
  border: 1px solid var(--border-color4);
  background-color: var(--color2);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: var(--font-color2);
  gap: 4px;
  .hash-del {
    text-indent: -9999px;
    width: 8px;
    height: 8px;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 1px;
      background-color: var(--font-color2);
      transform-origin: center;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

// 텍스트 아이콘
.ico-text {
  font-family: var(--font-style1);
  font-style: normal;
  font-size: 10px;
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--font-color3);
  color: var(--color2);
  border-radius: 50%;
  cursor: pointer;
  &.blue {
    background-color: var(--sub-color2);
  }
}
