@charset "utf-8";
@import "../../assets/scss/mixin";

// loading layer
.loading-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 300;
    .loading-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 16px;
    }
    .loading {
        @include absolute-left-top(50%, 50%);
        width: 100px;
        transform: translate(-50%, -50%);
    }
    .loading-img {
        @include absolute-left-top(50%, 49%);
        width: 40px;
        height: 40px;
        transform: translate(-50%, -50%);
        img {
            width: 100%;
        }
    }

    .donut {
        // @include absolute-left-top(50%, 50%);
        display: inline-block;
        border: 4px solid rgba(0, 0, 0, 0.2);
        border-left-color: var(--sub-color3);
        border-radius: 50%;
        width: 72px;
        height: 72px;
        animation: donut-spin 1.2s linear infinite;
    }

    @keyframes donut-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .loading-txt {
        // position: absolute;
        // top: 55%;
        // left: 47%;
        // color: var(--color2);
        font-size: 14px;
    }
}
