@charset "utf-8";
@import "../../../assets/scss/mixin";

.target-select-infor {
    margin: 0 0 24px 0;
    padding: 0 0 24px 0;
    border-bottom: 1px solid var(--border-color3);
    .tit {
        margin: 0 0 8px 0;
        font-family: "OneShinhan";
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.025em;
        color: var(--font-color1);
    }
    .txt {
        margin: 0 0 12px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.025em;
        color: var(--font-color2);
    }

    .hash-wrap {
        .hash-tag {
            color: var(--sub-color4);
        }
    }
}

.condition-list {
    padding: 24px 0 0 0;
    .item-view {
        margin: 0 0 12px 0;
        & .MuiTypography-root {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.025em;
            color: var(--font-color1);
        }
    }
    .item-box {
        margin: 0 0 4px 0;
        &:nth-last-child(1) {
            margin: 0 0 0 0;
        }
    }
    .btn-wrap {
        margin: 12px 0;
    }
}
