.card-list {
  max-width: 504px;
  width: 100%;
  ul {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    .card-item {
      flex: 1;
      a {
        display: block;
        border: 1px solid var(--border-color4);
        border-radius: 8px;
        background-color: var(--background-color2);
        padding: 16px;
        .card-tit {
          display: block;
          font-size: 16px;
          line-height: 24px;
          margin-top: 4px;
          letter-spacing: -0.4px;
          color: var(--font-color1);
        }
        .card-subtit {
          font-size: 13px;
          line-height: 20px;
          letter-spacing: -0.325px;
          color: var(--font-color2);
        }
        .card-date {
          display: flex;
          gap: 0px 4px;
          flex-wrap: wrap;
          .card-regist,
          .card-modify {
            line-height: 15px;
            strong {
              font-size: 10px;
              color: var(--font-color3);
              letter-spacing: -0.25px;
              margin-right: 2px;
              line-height: 15px;
            }
            span {
              font-size: 10px;
              color: var(--font-color3);
              letter-spacing: -0.25px;
              line-height: 15px;
            }
          }
        }
      }
    }
    @media (max-width: 1280px) {
      flex-direction: column;
    }
  }
}
