.input-area {
  input[type="text"] {
    padding: 9px 12px;
    border-radius: 6px;
    border: 1px solid var(--border-color1);
    background-color: var(--color2);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.35px;
    &.tag {
      border-top-left-radius: 0;
      background: var(--color2) url("../../assets/images/img-input-label.png")
        top left no-repeat;
      &:disabled {
        background: var(--background-color1)
          url("../../assets/images/img-input-label.png") top left no-repeat;
      }
    }
    &:focus,
    &:focus-visible {
      outline-color: var(--color1);
      box-shadow: 0px 2px 4px 0px rgba(0, 70, 255, 0.25);
    }
    &::placeholder {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.35px;
      color: var(--font-color3);
    }
    &:disabled {
      border-color: var(--border-color2);
      background-color: var(--background-color1);
      cursor: not-allowed;
    }
  }
  &.input-pass {
    input[type="text"] {
      border-color: var(--positive);
    }
  }
  &.input-error {
    input[type="text"] {
      border-color: var(--negative);
    }
  }
  .input-caption {
    margin-top: 6px;
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #666;
    &.error {
      display: flex;
      align-items: center;
      gap: 4px;
      color: var(--negative);
      i {
        display: block;
        width: 14px;
        height: 14px;
        background: url("../../assets/images/icon/ico-input-error.png");
      }
    }
    &.pass {
      display: flex;
      gap: 4px;
      color: var(--positive);
      i {
        display: block;
        width: 14px;
        height: 14px;
        background: url("../../assets/images/icon/ico-input-pass.png");
      }
    }
  }
}

.file-wrap {
  display: flex;
  align-items: center;
  .file-btn {
    width: 83px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid var(--color1);
    font-size: 14px;
    letter-spacing: -0.35px;
    font-weight: 700;
    color: var(--color1);
    cursor: pointer;
  }
  #file-input {
    display: none;
  }
  .file-list {
    margin-left: 16px;
    display: flex;
    gap: 8px;
    .file-empty,
    .file-item {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.35px;
    }
    .file-empty {
      color: var(--font-color3);
    }
  }
}
