.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* dim 효과 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal {
  width: 400px;
  height: 289px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  padding: 16px;
  background-color: var(--color2);
  border-radius: 16px;
  .modal-header {
    height: 24px;
    margin-bottom: 12px;
  }
  .modal-content {
    max-height: 161px;
    overflow-y: auto;
  }
  .modal-footer {
  }
  .modal-close {
    position: absolute;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    top: 12px;
    right: 12px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 1px;
      background-color: var(--color3);
      transform-origin: center;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
