@charset "utf-8";
@import "../../assets/scss/mixin";

.search-contnet {
  margin: 0 0 0 0;

  background-color: var(--background-color1);
  border-radius: 4px 4px;
  .search-item-box {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    padding: 8px 16px;
    & + .search-item-box {
      border-top: 1px solid var(--border-color1);
    }
    &.full {
      width: 100%;
      .search-item {
        width: 100%;
      }
    }
  }
  & .search-item {
    @include flex;
    width: 50%;
    padding: 0 16px 0 0;
    .tit {
      @include flex;
      @include justify-content(flex-start);
      @include align-items(center);
      min-width: 95px;
      height: 36px;
      margin: 0 8px 0 0;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: -0.025em;
    }
    .item-box {
      @include flex;
      width: 100%;
      & .custom-select {
        width: 100%;
        min-width: 100px;
        max-width: 100px;
        margin: 0 4px 0 0;
      }
      & .input-area {
        width: 100%;
        input {
          width: 100%;
          max-width: 480px;
        }
      }
      &.select-long {
        & .custom-select {
          width: 100%;
          max-width: 480px;
        }
      }
    }
  }
}
