.custom-select {
  position: relative;
  width: 200px;

  user-select: none;
  cursor: pointer;

  &.disabled {
    .selected {
      pointer-events: none;
      cursor: not-allowed;
      border-color: var(--border-color2);
      color: var(--font-color3);
    }
  }

  .selected {
    height: 36px;
    padding: 0 12px;
    border: 1px solid var(--border-color1);
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    .arrow {
      font-size: 11px;
    }
    .selected-text {
      white-space: nowrap;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.open {
      border-color: var(--color1);
      .arrow {
        transform: rotate(180deg);
      }
    }
    &.tag {
      border-top-left-radius: 0;
      background: var(--color2) url("../../assets/images/img-input-label.png")
        top left no-repeat;
    }
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 4px;
    border: 1px solid var(--color1);
    border-radius: 6px;
    background-color: var(--color2);
    z-index: 1000;
    max-height: 172px;
    overflow-y: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 70, 255, 0.25);
    padding: 12px 12px 0 12px;
    li {
      padding: 8px;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 4px;
      &:hover {
        background-color: var(--background-color1);
      }
    }
    &:last-of-type {
      li {
        margin-bottom: 0;
      }
    }
    &.bottom {
      top: initial;
      bottom: 100%;
      margin: 0 0 4px 0;
    }
  }
}

.react-datepicker__input-container {
  border: 1px solid #000;
}
.select-group {
  display: flex;
  gap: 8px;
  width: 100%;
  .custom-select {
    max-width: 346px;
    width: 100%;
  }
}
