@charset "utf-8";
@import "../../assets/scss/mixin";

.tb-body {
    .tb-tit {
        @include flex;
        border-top: 1px solid var(--border-color5);
        border-bottom: 1px solid var(--border-color5);
        background-color: var(--color2);
        span {
            @include flex;
            @include align-items(center);
            @include justify-content(center);
            flex: 1;
            height: 40px;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
        }
    }
    .tb-txt {
        @include flex;
        box-shadow: 0px -1px 0px 0px #edf2f7 inset;
        span {
            @include flex;
            @include align-items(center);
            @include justify-content(center);
            flex: 1;
            height: 48px;
            font-size: 13px;
            font-weight: 400;
            line-height: 19px;
        }
        // &:nth-last-child(1) {
        //     box-shadow: 0px 0px 0px 0px #edf2f7 inset;
        // }
    }
}
