@charset "utf-8";
@import "../../../assets/scss/mixin";

.smart-filter {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    & .smart-box {
        @include flex;
        width: 100%;
        padding: 8px 8px;
        gap: 10px;
        border-radius: 12px 12px;
        background-color: var(--background-color5);
        .btn-smart {
            min-width: 115px;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: -0.025em;
        }
        .smart-filer-view {
            position: relative;
            width: 100%;
            padding: 4px 180px 0 0;
            &.open {
                padding: 4px 130px 0 0;
                .filer-box {
                    height: auto;
                }
            }
            .filer-box {
                height: 35px;
                overflow: hidden;
            }

            .hash-tag {
                margin: 0 4px 4px 0;
            }
            .btn-close {
                min-width: 40px;
                color: var(--color2);
                background-color: var(--color3);
            }
        }
        .btn-box {
            position: absolute;
            right: 8px;
            bottom: 6px;
            button {
                min-width: 60px;
                margin: 0 0 0 4px;
                font-size: 11px;
                font-weight: 700;
                line-height: 12px;
                letter-spacing: -0.025em;
            }
        }
    }
    &.smart-filter-popup {
        height: auto;
        margin: 0 0;
        .smart-poup-tit {
            width: 70px;
            height: 16px;
            padding: 12px 0 0 12px;
            font-size: 13px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: -0.025em;
        }
    }
}
