/* sidebar 전체 영역 */

.admin-sidebar {
    position: relative;
    min-width: 280px;
    max-width: 280px;
    min-height: calc(100vh - 97px);
    max-height: calc(100vh - 97px);
    overflow-y: auto;
    padding: 16px;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    border-radius: 4px 16px 16px 16px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    .sidebar-tab {
        width: 248px;
        min-height: 48px;
        padding: 4px 4px;
        background-color: var(--background-color2);
        button {
            width: 50%;
            height: 41px;
            justify-content: center;
        }
    }
    .sidebar-nav {
        margin-top: 16px;
        .MuiList-root {
            .MuiListItemButton-root {
                height: 40px;
                border-radius: 4px;
                border-bottom: 1px solid var(--border-color3);
                & .MuiListItemText-primary {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: -0.025em;
                }
                &.MuiList-active {
                    color: var(--color2);
                    background-color: var(--color1);
                    & .MuiListItemText-primary {
                        font-size: 15px;
                        font-weight: 700;
                        line-height: 18px;
                        letter-spacing: -0.025em;
                    }
                    &::after {
                        transform: rotate(180deg);
                        background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='5' viewBox='0 0 7 5' fill='none'%3E%3Cpath d='M3.49501 4.49002C3.36519 4.49002 3.23538 4.44015 3.14551 4.3404L0.149786 1.34788C-0.0499287 1.15835 -0.0499287 0.839152 0.149786 0.649626C0.349501 0.4601 0.659058 0.450125 0.848787 0.649626L3.49501 3.29302L6.14123 0.649626C6.34094 0.450125 6.6505 0.450125 6.85021 0.649626C7.04993 0.849127 7.04993 1.15835 6.85021 1.35786L3.85449 4.35037C3.75464 4.45012 3.62482 4.5 3.50499 4.5L3.49501 4.49002Z' fill='%23ffffff'/%3E%3C/svg%3E");
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: -16px;
                        top: 0;
                        display: block;
                        width: 4px;
                        height: 40px;
                        background-color: var(--color1);
                    }
                }
                &.MuiList-sub-active {
                    border-radius: 0 0;
                    border-bottom: 2px solid var(--color3);
                }
            }
        }

        // .MuiAccordion-root {
        //     box-shadow: none;
        //     &::before {
        //         background-color: unset;
        //     }
        //     & .MuiAccordion-heading {
        //         .MuiAccordionSummary-root {
        //             min-height: 40px;
        //             border-radius: 4px;
        //             font-family: "Pretendard";
        //             font-weight: 700;
        //             line-height: 18px;
        //             .MuiAccordionSummary-content {
        //                 margin: 0 0;
        //             }
        //         }
        //     }
        //     &.Mui-expanded {
        //         & .MuiAccordion-heading {
        //             & .MuiAccordionSummary-root {
        //                 position: relative;
        //                 background-color: var(--color1);
        //                 color: var(--color2);
        //                 font-weight: 700;
        //                 line-height: 18px;
        //                 min-height: 40px;

        //                 &::after {
        //                     transform: rotate(180deg);
        //                     background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='5' viewBox='0 0 7 5' fill='none'%3E%3Cpath d='M3.49501 4.49002C3.36519 4.49002 3.23538 4.44015 3.14551 4.3404L0.149786 1.34788C-0.0499287 1.15835 -0.0499287 0.839152 0.149786 0.649626C0.349501 0.4601 0.659058 0.450125 0.848787 0.649626L3.49501 3.29302L6.14123 0.649626C6.34094 0.450125 6.6505 0.450125 6.85021 0.649626C7.04993 0.849127 7.04993 1.15835 6.85021 1.35786L3.85449 4.35037C3.75464 4.45012 3.62482 4.5 3.50499 4.5L3.49501 4.49002Z' fill='%23ffffff'/%3E%3C/svg%3E");
        //                 }
        //                 &::before {
        //                     content: "";
        //                     position: absolute;
        //                     left: -16px;
        //                     top: 0;
        //                     display: block;
        //                     width: 4px;
        //                     height: 40px;
        //                     background-color: var(--color1);
        //                 }
        //             }
        //         }
        //         // & .MuiAccordionDetails-root {
        //         //     padding: 8px 16px 16px;
        //         // }
        //     }
        // }
        .sidebar-menu {
            .sidebar-item {
                .sidebar-link {
                    display: block;
                    padding: 11px 16px;
                    color: var(--font-color2);
                    text-decoration: none;
                    font-size: 15px;
                    position: relative;
                    letter-spacing: -0.375px;
                    color: var(--color3);
                    border-radius: 4px;
                    position: relative;
                    &:hover {
                        background-color: #e5ecff80;
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 7px;
                        height: 5px;
                        background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='5' viewBox='0 0 7 5' fill='none'%3E%3Cpath d='M3.49501 4.49002C3.36519 4.49002 3.23538 4.44015 3.14551 4.3404L0.149786 1.34788C-0.0499287 1.15835 -0.0499287 0.839152 0.149786 0.649626C0.349501 0.4601 0.659058 0.450125 0.848787 0.649626L3.49501 3.29302L6.14123 0.649626C6.34094 0.450125 6.6505 0.450125 6.85021 0.649626C7.04993 0.849127 7.04993 1.15835 6.85021 1.35786L3.85449 4.35037C3.75464 4.45012 3.62482 4.5 3.50499 4.5L3.49501 4.49002Z' fill='%23666666'/%3E%3C/svg%3E");
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 50%;
                        right: 12px;
                        margin-top: -2.5px;
                    }
                }
                &.active {
                    .sidebar-link {
                        position: relative;
                        background-color: var(--color1);
                        color: var(--color2);
                        font-weight: 700;
                        line-height: 18px;
                        &::after {
                            transform: rotate(180deg);
                            background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='5' viewBox='0 0 7 5' fill='none'%3E%3Cpath d='M3.49501 4.49002C3.36519 4.49002 3.23538 4.44015 3.14551 4.3404L0.149786 1.34788C-0.0499287 1.15835 -0.0499287 0.839152 0.149786 0.649626C0.349501 0.4601 0.659058 0.450125 0.848787 0.649626L3.49501 3.29302L6.14123 0.649626C6.34094 0.450125 6.6505 0.450125 6.85021 0.649626C7.04993 0.849127 7.04993 1.15835 6.85021 1.35786L3.85449 4.35037C3.75464 4.45012 3.62482 4.5 3.50499 4.5L3.49501 4.49002Z' fill='%23ffffff'/%3E%3C/svg%3E");
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            left: -16px;
                            top: 0;
                            display: block;
                            width: 4px;
                            height: 40px;
                            background-color: var(--color1);
                        }
                    }
                    .two-depth {
                        padding-left: 16px;
                        margin: 8px 0;
                        li {
                            &.active {
                                .two-depth-link {
                                    border-color: var(--color3);
                                    &::after {
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }
                        .two-depth-link {
                            color: var(--font-color2);
                            font-size: 14px;
                            letter-spacing: -0.35px;
                            padding: 12px 0;
                            display: block;
                            border-bottom: 1px solid var(--border-color3);
                            position: relative;
                            &::after {
                                content: "";
                                display: block;
                                width: 7px;
                                height: 5px;
                                background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='5' viewBox='0 0 7 5' fill='none'%3E%3Cpath d='M3.49501 4.49002C3.36519 4.49002 3.23538 4.44015 3.14551 4.3404L0.149786 1.34788C-0.0499287 1.15835 -0.0499287 0.839152 0.149786 0.649626C0.349501 0.4601 0.659058 0.450125 0.848787 0.649626L3.49501 3.29302L6.14123 0.649626C6.34094 0.450125 6.6505 0.450125 6.85021 0.649626C7.04993 0.849127 7.04993 1.15835 6.85021 1.35786L3.85449 4.35037C3.75464 4.45012 3.62482 4.5 3.50499 4.5L3.49501 4.49002Z' fill='%23666666'/%3E%3C/svg%3E");
                                background-size: contain;
                                background-repeat: no-repeat;
                                position: absolute;
                                top: 50%;
                                right: 12px;
                                margin-top: -2.5px;
                            }
                        }
                    }
                    .three-depth {
                        padding: 12px 0 12px 16px;
                        margin: 8px 0;
                        .three-depth-link {
                            font-size: 14px;
                            letter-spacing: -0.35px;
                            display: block;
                            margin-bottom: 20px;
                            color: var(--font-color2);
                            &.active {
                                color: var(--color1);
                                font-weight: 700;
                            }
                        }
                        li {
                            &:last-child {
                                .three-depth-link {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
