@charset "utf-8";
@import "../../assets/scss/mixin";

#root {
    background-color: #dce9ff;
    min-width: 1280px;
    overflow-x: hidden;
}
// parallax layout
.flexible-side-layout {
    @include flex;
    max-width: 1920px;
    margin: 0 auto;

    & .side-content {
        height: calc(100vh);
        margin: 0 0 0 0;
    }

    .container {
        width: 100%;
        header {
            position: relative;
            @include flex;
            @include justify-content(flex-start);
            @include align-items(center);
            width: calc(100% - 64px);
            height: 36px;
            background-color: var(--sub-color4);
            & .top-content {
                @include flex;
                @include justify-content(space-between);
                @include align-items(center);
                width: 100%;
                & .search {
                    position: relative;

                    & .icon-search {
                        @include width-height(44px, 44px);
                        margin: 0 0 0 24px;
                        padding: 0 0;
                        border: 10px solid var(--sub-color4);
                        background-color: var(--sub-color3);
                        cursor: pointer;
                        &:hover {
                            transform: scale(1.1);
                            transition: all 0.2s ease-in-out;
                        }
                        & path {
                            fill: var(--color2);
                        }
                    }
                }

                & .user-setting {
                    @include flex;
                    @include justify-content(space-between);
                    @include align-items(center);
                    color: var(--color2);
                    span {
                        @include flex;
                        @include justify-content(center);
                        @include align-items(center);
                        height: 16px;
                        svg {
                            margin: 0 0 0 6px;
                        }
                    }
                    & .go-admin {
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: -0.025em;
                        text-align: left;
                        cursor: pointer;
                    }
                    & .go-mini {
                        position: relative;
                        margin: 0 0 0 16px;
                        padding: 0 0 0 16px;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: -0.025em;
                        cursor: pointer;
                        &::after {
                            content: "";
                            @include absolute-left-top(0, 0);
                            display: block;
                            width: 1px;
                            height: 14px;
                            border-left: 1px solid var(--border-color4);
                            opacity: 0.3;
                        }
                    }
                    .nick-name {
                        margin: 0 24px 0 40px;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 19px;
                        letter-spacing: -0.025em;
                        cursor: pointer;
                        em {
                            font-weight: 700;
                        }
                        .icon-user {
                            margin: 0 8px 0 0;
                        }
                        .icon-arrow-right {
                            margin: 0 0 0 6px;
                        }
                    }
                }
            }
            &.menu-open {
                width: calc(100% - 200px);
                transition: all 0.2s ease-in-out;
            }
            & .search-layer {
                display: none;
                position: absolute;
                left: 0;
                top: 36px;
                width: 100%;
                height: calc(100vh - 36px);
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 1;
                .search-box {
                    position: relative;
                    @include flex;
                    height: 80px;
                    margin: 0 auto;
                    padding: 12px 0 0 0;
                    text-align: center;
                    background-color: var(--sub-color4);
                    .search-form {
                        @include flex;
                        @include align-items(center);
                        @include width-height(480px, 44px);
                        margin: 0 auto;
                        border-radius: 100px 100px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        color: var(--font-color3);
                        box-sizing: border-box;
                        background-color: var(--color2);
                        .MuiInputBase-root {
                            border-radius: 100px 100px;
                            border: 0;
                        }
                        input {
                            @include width-height(440px, 44px);
                            padding: 4px 4px 4px 16px;
                            border-radius: 100px 100px;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            color: var(--font-color3);
                            border: 0;
                            box-sizing: border-box;
                            background-color: var(--color2);
                            &:focus {
                                border: 0;
                                border-radius: 100px 100px;
                            }
                        }
                        fieldset {
                            border: 0;
                        }
                        .icon-allsearch {
                            @include flex;
                            @include justify-content(center);
                            @include align-items(center);
                            min-width: 36px;
                            min-height: 36px;
                            border-radius: 100px 100px;
                            background-color: var(--color1);
                            cursor: pointer;
                        }
                    }
                    .search-close {
                        position: absolute;
                        right: 28px;
                        top: 31px;
                        width: 16px;
                        height: 16px;
                    }
                }
                &.open {
                    display: block;
                    .search-box {
                        height: 80px;
                    }
                }
            }
        }
        & .content {
            width: calc(100% - 64px);
            padding: 24px 24px 0 24px;
            & .tabs-area {
                margin: 0 0 0 0;
            }
            & .tabs-contents {
                @include flex;
                position: relative;
                height: calc(100vh - 92px);
                background-color: var(--color2);
                border-radius: 0 16px 0 0;
                box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
                .list-content {
                    width: calc(100% - 446px);
                    padding: 24px 24px;

                    .sub-tab-content {
                        height: calc(100vh - 226px);
                        overflow-y: auto;
                        scrollbar-width: thin;
                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        .recom-list {
                            position: relative;
                            margin: 0 0 24px 0;
                            padding: 16px 16px;
                            border-radius: 16px 16px;
                            border: 1px solid var(--border-color5);

                            .prev {
                                position: absolute;
                                left: 0;
                                top: 0;
                                display: flex;
                                display: block;
                                min-width: 28px;
                                height: 28px;
                                margin: 0 4px 0 0;
                                background-color: var(--color2);
                                border-radius: 8px 8px;
                            }
                            .next {
                                position: absolute;
                                right: 0;
                                top: 0;
                                display: flex;
                                display: block;
                                min-width: 28px;
                                height: 28px;
                                margin: 0 4px 0 0;
                                background-color: var(--color2);
                                border-radius: 8px 8px;
                            }

                            .slick-prev,
                            .slick-next {
                                display: none;
                            }
                        }
                    }
                }
                .list-setting {
                    min-width: 446px;
                    padding: 24px 24px;
                    border-left: 1px solid var(--border-color4);
                }
            }
            &.opne-menu {
                width: calc(100% - 200px);
                transition: all 0.2s ease-in-out;
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .no-data {
        @include flex;
        @include justify-content(center);
        @include align-items(center);
        min-height: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.025em;
        text-align: center;
        .no-data-img {
            width: 181px;
            height: 67px;
            margin: 0 0 12px 0;
            @include background(url("../../assets/images/target_no_data.png"), 100%, 100%, 0, 0, no-repeat);
        }
    }
}
