@charset "utf-8";

#root {
  .guide-wrap {
    height: 100vh;
    .MuiButtonBase-root {
      font-weight: 700;
    }
    [role="tabpanel"] {
      width: 100%;
    }
    .guide-text {
      * {
        margin-bottom: 24px;
      }
    }
    .guide-btn {
      .MuiBox-root {
        .MuiTypography-root {
          button {
            display: block;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
