@charset "utf-8";

#root {
  .guide-wrap {
    height: 100vh;
    .MuiButtonBase-root {
      font-weight: 700;
    }
    [role="tabpanel"] {
      width: 100%;
    }
    .guide-text {
      * {
        margin-bottom: 24px;
      }
    }
    .guide-btn {
      .MuiBox-root {
        .MuiTypography-root {
          button {
            display: block;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .sub1 {
    background-color: var(--color2);
    border: 1px solid var(--border-color4);
    color: var(--font-color1);
    &:hover {
      background-color: #fafafa;
    }
    &:active {
      background-color: #f0f0f0;
    }
  }
}
