@charset "utf-8";

#root {
  .tabs-left {
    min-width: 110px;
  }
  .guide-wrap {
    height: 100vh;

    [role="tabpanel"] {
      width: 100%;
    }
    .guide-text {
      * {
        margin-bottom: 24px;
      }
    }
  }
  .toggle-btn {
    font-weight: 400;
    border-radius: 100px;
    padding: 7px 12px;
    min-width: 72px;
    height: 36px;
    line-height: 21px;
    font-size: 14px;
    &[aria-pressed="false"] {
      color: var(--font-color3);
      border: 1px solid var(--color1);
      background-color: var(--color2);
    }
    &[aria-pressed="true"] {
      font-weight: 700;
      background-color: var(--color1);
      color: var(--color2);
    }
  }
}
