@charset "utf-8";
@import "../assets/scss/reset";
@import "../assets/scss/mixin";

.guide-wrap {
  padding: 20px;
  > div {
    margin-bottom: 40px;
    .guide-title {
      font-size: 32px;
      margin-bottom: 12px;
    }
  }
  .color-box {
    display: flex;
    gap: 10px;
    .sample-color-box {
      @include width-height(40px, 40px);
      &.color-box1 {
        background-color: var(--color1);
      }
      &.color-box2 {
        background-color: var(--color2);
        border: 1px solid #ddd;
      }
      &.color-box3 {
        background-color: var(--color3);
      }
      &.sub-color-box1 {
        background-color: var(--sub-color1);
      }
      &.sub-color-box2 {
        background-color: var(--sub-color2);
      }
      &.sub-color-box3 {
        background-color: var(--sub-color3);
      }
      &.sub-color-box4 {
        background-color: var(--sub-color4);
      }
      &.text-color-box1 {
        background-color: var(--font-color1);
      }
      &.text-color-box2 {
        background-color: var(--font-color2);
      }
      &.text-color-box3 {
        background-color: var(--font-color3);
      }
      &.border-color-box1 {
        background-color: var(--border-color1);
      }
      &.border-color-box2 {
        background-color: var(--border-color2);
      }
      &.border-color-box3 {
        background-color: var(--border-color3);
      }
      &.border-color-box4 {
        background-color: var(--border-color4);
      }
      &.bg-color-box1 {
        background-color: var(--background-color1);
      }
      &.bg-color-box2 {
        background-color: var(--background-color2);
      }
      &.bg-color-box3 {
        background-color: var(--background-color3);
      }
      &.bg-color-box4 {
        background: var(--gradient-bg);
      }
      &.positive-box {
        background-color: var(--positive);
      }
      &.negative-box {
        background-color: var(--negative);
      }
    }
  }
}
